body{
    margin: 0;
}
#um{
    border: red 3px solid;
    float: left;
    width: 100%;
    height: 200px;
    text-align: center;
    
}
#dois{
    border: black 3px dotted;
    float: left;
    width: 30%;
    height: 400px;
    padding:20px 0 0 150px;
    box-sizing: border-box;
}
#tres{
    border: green 3px solid;
    float: left;
    width: 68%;
    height: 300px;
}
#quatro{
    border: rgb(255, 0, 255) 3px dotted;
    clear: both;
    width: 68%;
    height: 100px;
}